/* large */

body {
  max-width: 900px;
  margin: 4rem auto;
  font-size: 1.2rem;
  line-height: 1.8;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

ul {
  margin-left: 2rem;
}
